/* You can add global styles to this file, and also import other style files */
@import url('assets/css/bootstrap.min.css');

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

.container-fluid {
  padding-right: 0px; 
  padding-left: 0px;
}

